@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.text-primary {
  color: #F2AF29;
}

.bg-primary {
  background: #F2AF29;
}

.bg-primary-light-2 {
  background-color: #f5bf54;
}

.bg-primary-light-4 {
  background-color: #f7cf7f;
}

.bg-primary-light-6 {
  background-color: #fadfa9;
}

.bg-primary-light-8 {
  background-color: #fcefd4;
}

.bg-primary-dark-2 {
  background-color: #c28c21;
}

.bg-primary-dark-4 {
  background-color: #916919;
}

.bg-primary-dark-6 {
  background-color: #614610;
}

.bg-primary-dark-8 {
  background-color: #302308;
}

.text-secondary {
  color: #474747;
}

.bg-secondary {
  background: #474747;
}

.text-error {
  color: #AD343E;
}

.bg-error {
  background: #AD343E;
}

.text-info {
  color: #E0E0CE;
}

.bg-info {
  background: #E0E0CE;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background: #1919e6;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background: #e61919;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background: #e6e619;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background: #19e635;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background: #ffa600;
}

.text-hover-orange-light-1:hover {
  color: #ffaf1a;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background: #9900ff;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background: #808080;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgb(0, 0, 0);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #F2AF29;
}
.btn-primary:hover {
  background-color: #f3b841;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #F2AF29;
  color: #b9cffb;
}
.btn-complement-primary:hover {
  color: #F2AF29;
  background-color: #b9cffb;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #474747;
}
.btn-secondary:hover {
  background-color: #545454;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #AD343E;
}
.btn-error:hover {
  background-color: #c13a45;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #E0E0CE;
}
.btn-info:hover {
  background-color: #eaeade;
}

.btn-complement-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #19e635;
  color: #f5a3ea;
}
.btn-complement-green:hover {
  color: #19e635;
  background-color: #f5a3ea;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #ffa600;
}
.btn-outlined-orange:hover {
  background-color: #ffa600;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #9900ff;
}
.btn-outlined-purple:hover {
  background-color: #9900ff;
}

 .navbar-primary .container, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

 .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgb(0, 0, 0);
}
 .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #F2AF29;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}